body {
    margin: 0;
    background-color: #41B3A3;
    font-family: sans-serif;
}

.todo-container {
    width: 350px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

 
i{
    color: black;
}

h1 {
    margin: 0;
    margin-bottom: 8px;
    color: #ababab;
}


.input-section {
    background-color: #ececec;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 5px 6px silver;

}

.input-section input {
 border-radius: 5px;
    border: 1px solid rgb(226,226,226);
    width: 100%;
    padding: 13px;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;

}

input::placeholder {
    color: silver;
}

ul {
    text-align: left;
    padding: 0;
}

ul li {
    display: flex;
    list-style: none;
    padding: 15px;
    background-color: #E6E6FA;
    border-radius: 5px;
    margin-bottom: 10px;
    color: grey;
    box-shadow: 0 5px 6px silver;
}

ul li i {
    text-align: right;
    flex: 1;
    cursor: pointer;
}